.TimeToClimbEE {
  padding: 10px;
  background-color: white;
}

.TimeToClimbEEHeader {
  background-image: url('images/TimeToClimbLogo.png');
  background-repeat: no-repeat;
  background-color: white;
  min-height: 66px;
  font-size: 18px;
  font-weight: bold;
  color: #aa3333;
}

.TimeToClimbEEHeader h1 {
  	padding-left: 66px;
}
